body {
  font-family: "Poppins", sans-serif;
  color: #132743;
  background: radial-gradient(
    circle at 18.7% 37.8%,
    rgb(250, 250, 250) 0%,
    rgb(225, 234, 238) 90%
  );
}
h1 {
  font-size: 24 px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 7px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  color: #132743;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 19 px;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  background: linear-gradient(
    68.6deg,
    rgb(252, 165, 241) 1.8%,
    rgb(181, 255, 255) 100.5%
  );
  color: #132743;
}
.overview {
  margin-bottom: 0;
}
.weather-temperature img {
  position: relative;
  top: -18px;
  margin-top: 0;
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  cursor: default;
  text-decoration: none;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.btn-primary {
  background: #132743;
  border-color: none;
  border: 1px solid #dadde1;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 7px;

  font-weight: 200;
}
.btn-primary:hover {
  background: #407088;
}
.form-control {
  border: 1px solid #dadde1;
  border-radius: 5px;
  margin-bottom: 3px;
  text-align: center;
}
#celsius-link,
#fahrenheit-link {
  text-decoration: none;
  color: #132743;
}
#footer {
  text-decoration: none;
  margin-left: 5px;
}
